<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
    <div class="login-main-text">
        <h2>AT-Chat<br> Register Page</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form>
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" placeholder="First name" name="firstname"
                        [(ngModel)]="firstName">
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" placeholder="Last name" name="lastname"
                        [(ngModel)]="lastName">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username"
                        [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password"
                        [(ngModel)]="password">
                </div>
                <div class="form-group">
                    <label>Confirm password</label>
                    <input type="password" class="form-control" placeholder="Confirm password" name="password"
                        [(ngModel)]="cpassword">
                </div>
                <button class="btn btn-black" (click)="register()">Register</button>
                <button class="btn btn-secondary" (click)="back()">Back to Login</button>
            </form>
        </div>
    </div>
</div>